* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.slider h2 {
  margin-bottom: 8px;
}
.slider h3 {
  margin: 5px;
}

.slider a {
  display: inline-block;
  width: 25%;
  background-color: skyblue;
  color: black;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  margin: 10px;
  padding: 5px;
}
.slider {
  position: relative;
  overflow: hidden;
  height: 65vh;
  width: 100vw;
  border-top: 2px solid white;
  
}
.content {
  width: 100%;
  height: 100%;
  background-color: black;
  text-align: center;
}
.slider img {
  width: 100%;
  height: 50%;
}

.slide {
  position: absolute;
  color: white;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  transform: translateX(-200);

}

.slide.current {
  opacity: 1;
}

.buttons button#next {
  position: absolute;
  top: 30%;
  right: 0px;
  width: 40px;
  font-weight: bold;
  font-size: 32px;
  opacity: 0.5;
}
.buttons button#nexts {
  position: absolute;
  top: 100%;
  right: 0px;
  width: 40px;
  font-weight: bold;
  font-size: 32px;
  opacity: 0.5;
}

.buttons button#prev  {
  position: absolute;
  top: 30%;
  left: 0px;
  width: 40px;
  font-weight: bold;
  font-size: 32px;
  opacity: 0.5;
}
.buttons button#prevs  {
  position: absolute;
  top: 100%;
  left: 0px;
  width: 40px;
  font-weight: bold;
  font-size: 32px;
  opacity: 0.5;
}

@media screen and (min-width:768px){
  .slider a {
    width: 20%;
  }
  .slider h2 {
    margin-bottom: 5px;
    font-size: 40px;
  }
  .slider h3 {
    font-size: 28px;
  }
  .slider {
    height: 75vh;
  }
  .slider img {
    height: 70%;
  }
}