* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.slider {
  width: 505px;
  overflow: hidden;
  float: left;
}

figure {
  width: 2020px;
  position: relative;
  animation: animation 20s infinite;
}
img {
  width: 400px;
}
.slide-image {
  float: left;
  width: 505px;
  text-align: center;
  padding: 10px;
  background-color: skyblue;
  border: 1px solid black;
}
.slide-image1 {
  float: left;
  width: 505px;
  text-align: center;
  padding: 10px;
  background-color: rgba(211, 211, 211, 0.8);
  border: 1px solid black;
}
.slider h2 {
    margin-bottom: 10px;
}
.slider p {
    margin: 5px;
}
.slider a {
    width: 80px;
    background-color: black;
    color: white;
    padding: 5px;
    margin: 5px;
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
}

@keyframes animation {
  0% {
    left: 0;
  }

  25% {
    left: -505px;
  }
  50% {
    left: -1010px;
  }
  75% {
    left: -1515px;
  }
}

@media screen and (max-width: 768px) {
  img {
    width: 200px;
  }
  .slide-image {
    width: 380px;
    /* overflow: hidden; */
  }
  .slide-image1 {
    width: 380px;
    /* overflow: hidden; */
  }
  figure {
    width: 1520px;
  }
  .slider {
    width: 380px;
    overflow: hidden;
  }
  @keyframes animation {
    0% {
      left: 0;
    }

    25% {
      left: -380px;
    }
    50% {
      left: -760px;
    }
    75% {
      left: -1140px;
    }
  }
}
@media screen and (max-width:415px) {
    img {
        width: 350px;
    }
    .slide-image {
        width: 410px;
        
    }
   
    .slide-image1 {
        width: 410px;
    }
    .slider {
        width: 410px;
    }
    figure {
        width: 1640px;
    }
      @keyframes animation {
    0% {
      left: 0;
    }

    25% {
      left: -410px;
    }
    50% {
      left: -820px;
    }
    75% {
      left: -1230px;
    }
  }
}

