* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.slider {
  width: 320px;
  overflow: hidden;
  float: left;
}

figure {
  width: 1280px;
  position: relative;
  animation: animation 30s infinite;
}
img {
  width: 280px;
}
.slide-image {
  float: left;
  width: 320px;
  text-align: center;
  padding: 10px;
  background-color: skyblue;
  border: 1px solid black;
}
.slide-image1 {
  float: left;
  width: 320px;
  text-align: center;
  padding: 10px;
  background-color: rgba(211, 211, 211, 0.8);
  border: 1px solid black;
}
.slider h2 {
    margin-bottom: 10px;
}
.slider p {
    margin: 5px;
}
.slider a {
    max-width: 150px;
    background-color: black;
    color: white;
    padding: 5px;
    margin: 5px;
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
}

@keyframes animation {
  0% {
    left: 0;
  }

  25% {
    left: -320px;
  }
  50% {
    left: -640px;
  }
  75% {
    left: -960px;
  }
}
@media screen and (min-width:360px) {
  img {
    width: 250px;
  }
  .slider {
    width: 360px;
  }
  .slide-image {
    width: 360px;
  }
  .slide-image1 {
    width: 360px;
  }
  figure {
    width: 1440px;
  }
  
@keyframes animation {
  0% {
    left: 0;
  }

  25% {
    left: -360px;
  }
  50% {
    left: -720px;
  }
  75% {
    left: -1080px;
  }
}

}


@media screen and (min-width:375px) {
  img {
    width: 250px;
  }
  .slider {
    width: 375px;
  }
  .slide-image {
    width: 375px;
  }
  .slide-image1 {
    width: 375px;
  }
  figure {
    width: 1500px;
  }
  
@keyframes animation {
  0% {
    left: 0;
  }

  25% {
    left: -375px;
  }
  50% {
    left: -750px;
  }
  75% {
    left: -1125px;
  }
}
}
@media screen and (min-width:411px) {
  img {
    width: 300px;
  }
  .slider {
    width: 411px;
  }
  .slide-image {
    width: 411px;
  }
  .slide-image1 {
    width: 411px;
  }
  figure {
    width: 1644px;
  }
  
@keyframes animation {
  0% {
    left: 0;
  }

  25% {
    left: -411px;
  }
  50% {
    left: -822px;
  }
  75% {
    left: -1233px;
  }
}
}
@media screen and (min-width:414px) {
  img {
    width: 300px;
  }
  .slider {
    width: 414px;
  }
  .slide-image {
    width: 414px;
  }
  .slide-image1 {
    width: 414px;
  }
  figure {
    width: 1656px;
  }
  
@keyframes animation {
  0% {
    left: 0;
  }

  25% {
    left: -414px;
  }
  50% {
    left: -828px;
  }
  75% {
    left: -1242px;
  }
}
}
@media screen and (min-width:424px) {
  img {
    width: 300px;
  }
  .slider {
    width: 424px;
  }
  .slide-image {
    width: 424px;
  }
  .slide-image1 {
    width: 424px;
  }
  figure {
    width: 1696px;
  }
  
@keyframes animation {
  0% {
    left: 0;
  }

  25% {
    left: -424px;
  }
  50% {
    left: -848px;
  }
  75% {
    left: -1272px;
  }
}
}


/* 
@media screen and (max-width:411px) {
    img {
        width: 320px;
    }
    .slide-image {
        width: 376px;
        
    }
   
    .slide-image1 {
        width: 376px;
    }
    .slider {
        width: 376px;
    }
    figure {
        width: 1640px;
    }
      @keyframes animation {
    0% {
      left: 0;
    }

    25% {
      left: -376px;
    }
    50% {
      left: -752px;
    }
    75% {
      left: -1128px;
    }
  }
} */
/* @media screen and (max-width:415px) {
  img {
    width: 360px;
  }
  .slide-image {
    width: 410px;
  }
  .slide-image1 {
    width: 410px;
  }
  .slider {
    width: 410px;
  }
  figure {
    width: 1240px;
  }
     @keyframes animation {
    0% {
      left: 0;
    }

    25% {
      left: -410px;
    }
    50% {
      left: -820px;
    }
    75% {
      left: -1230px;
    }
  }
} */

/* @media screen and (max-width:321px) {
.container-slider {
  width: 100vw;
  background-color: black;
}
  img {
    width: 250px;
  }
  .slider {
    width: 250px;
  }
  .slide-image {
    width: 250px;
  }
  .slide-image1 {
    width: 250px;
  }
  figure {
    width: 1000px;
  }

} */

